body {
  background-color: rgba(27, 27, 76, 0.777);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin: 10px 0px 10px 0px;
  color: rgb(8, 8, 101);
}

h2 {
  font-size: 50px;
  text-align: left;
  margin: 10px 0px 10px 0px;
  color: rgb(8, 8, 101);
}

button {
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(14, 14, 136);
  height: 50px;
  color: white;
  font-weight: bold;
  border: 0px solid transparent;
}

button:active, button:hover{
  cursor: pointer;
  box-shadow: 0px 1px 1px -1px rgba(236, 110, 7, 0.7),
            0px 2px 2px -1px rgba(236, 110, 7, 0.7),
            0px 4px 4px -1px rgba(236, 110, 7, 0.7),
            0px 4px 8px -1px rgba(236, 110, 7, 0.7);
  background: -webkit-linear-gradient(to left, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input {
  border-radius: 5px;
  height: 20px;
  border: 1px solid rgb(166, 166, 166);
  padding: 10px;
}

input:focus {
  outline: none;
}

input:hover {
  cursor: pointer;
}


li {
  display: inline-block;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

li svg {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

p .email-error {
  color: rgb(251, 69, 69);
  float: right;
  /* color: #f6c3c4; */
}

.modal-check-icon {
  margin-bottom: 30px;
}

.dismiss-modal-btn {
  margin-top: 20px;
}

.stored-email {
  font-weight: bolder;
  color: darkblue;
}

.main-container {
  background-color: white;
  width: 800px;
  height: 550px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 20px;
}

.success-modal {
  display: none;
  background-color: white;
  width: 400px;
  height: 380px;
  border-radius: 30px;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  justify-content: center;
  max-width: 60%;
  text-align: justify;
  font-size: 15px;
}

.image-container-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: -15px;
}

.image-container-mobile {
  display: none;
}

.image-format-desktop {
  width: 400px;
  height: 550px;
}

.email-address {
  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-width: 390px) {
  body {
    min-height: 0vh;
    margin: 0;
  }

  h1 {
    font-size: 3em;
    text-align: left;
  }

  button {
    margin-top: 40px;
  }

  .main-container {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    height: 100%;
  }
  .form-container {
    flex-direction: column;
    font-size: 1rem;
    max-width: 100%;
    min-height: max-content;
    order: 2;
    padding: 0;
    margin: 30px;
  }
  .image-container-desktop {
    display: none;
  }

  .image-container-mobile {
    display: flex;
    flex-direction: column;
  }

  .success-modal {
    font-size: 0.8em;
    flex-direction: column;
    border-radius: 0px;
    height: 100%;
    border-radius: 0px;
    justify-content: center;
    max-width: 100%;
    padding: 50px;
    width: 340px;
  }

  .success-modal button {
    margin-top: 300px;
    width: 350px;
    align-self: center;

  }

  .success-modal svg {
    margin-top: 100px;
    width: 60px;
    height: 60px;
  }
  
  .success-modal p {
    font-size: 1.3em;
  }
}